ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    padding-top:6px;
    padding-bottom:6px;
}

li
{
    display:inline;
}

a.head
{
    font-weight:bold;
    color:#FFFFFF;
    background-color:#909090;
    text-align:center;
    padding:6px;
    text-decoration:none;
    text-transform:uppercase;
}

a:hover,a:active
{
    background-color:#909090;
}
