<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="kaiyuanl" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <title>程序员头条搜索</title>
    </head>
    <body>
        <div>
            <ul>
                <li><a class="head" href="Main.html">程序员头条搜索</a></li>
                <li><a class="head" href="About.html">About</a></li>
            </ul>
            <form action="" method="post" name="search">
                {{form.search_content(size=80)}} <input type="submit" value="Search" />
            </form>

        </div>
        {% block content %}{% endblock %}
        <br />
        <hr />
        <div class="foot"><p>由<a href="https://github.com/kaiyuanl/stat.toutiao.io">@kaiyuanl</a>创建和维护</p></div>
    </body>
</html>
